@using Microsoft.AspNetCore.Identity;
@model IEnumerable<Order>
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Receiveds";
    Layout = "_Layout";
}
<div style="width:100%" class="mt-2">
    <a href="/home/index" class="btn btn-primary my-2">Back</a>

    <h4>Receiveds</h4>
    @if (Model != null && Model.Count() > 0)
    {
        <div class="w-100 mt-4 d-flex flex-wrap gap-3 justify-content-start">
            @foreach (var order in Model.OrderByDescending(x => x.CreateDate))
            {
                var user = await UserManager.FindByIdAsync(order.UserId);
                var Receiveduser = await UserManager.FindByIdAsync(order.ReceivedUserId);
                <div class="card mx-2 mb-4" style="width: 30rem;">
                    @*<img src="" class="card-img-top" alt="..." />*@
                    <div class="card-body">
                        <h5 class="card-title">
                            <p>@user.UserName</p>
                            <p>@order.OrderStatus.StatusName</p>
                            <p>@order.CreateDate</p>
                        </h5>
                        <p class="card-text">
                            @foreach (var item in order.OrderDetail)
                            {
                            <p>
                                Menu : @item.Menu.MenuName
                                shop : @item.Menu.Shop.MenuName
                                Price : @item.Menu.Price
                                Quantity : @item.Quantity
                            </p>
                            }

                        </p>
                        <p>
                            Description : @order.Description
                        </p>
                        @if (Receiveduser is not null)
                        {
                            <h7>Received by : @Receiveduser.UserName</h7>
                        }
                        @(order.OrderDetail.Select(item => item.Menu.Price * item.Quantity).Sum())
                        @*<a class="btn btn-info" href="/Cart/AddItem?menuId=@menu.Id&&redirect=1">+</a>*@
                        @if (order.OrderStatusId == 2)
                        {
                            <form method="post" action="/Received/UpdateReceivedOrder">
                                <input type="hidden" name="orderId" value="@order.Id" />
                                <input type="hidden" name="newStatus" value="3" />
                                <button type="submit" class="btn btn-primary">Complete</button>
                            </form>
                        
                            <form method="post" action="/Received/UpdateReceivedOrder">
                                <input type="hidden" name="orderId" value="@order.Id" />
                                <input type="hidden" name="newStatus" value="4" />
                                <button type="submit" class="btn btn-primary">Cancelled</button>
                            </form>
                        }
                    </div>
                </div>
            }

        </div>
    }
    else
    {
        <h5>No orders</h5>
    }
</div>




